// .navbar-nav>li>a:hover {
//     color: blue;
// }
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
thead th {
    position: sticky;
    top: 0;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900px;
    color: #044716 !important;
}

tbody td {
    top: 25;
}

#navbar {
    border-bottom: 1.2px solid rgba(99, 94, 94, 0.234);
}

#sidebar-aside-admin {
    background-color: #e6c694;
    color: black !important;
}

#sidebar-nav-admin {
    background-color: #e6c694;
    font-size: large;
}

.bs-example {
    margin: 20px;
}

#createTab .tab-content {
    color: white;
    background-color: #272a2c;
    padding: 5px 15px;
}

#viewTab .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

.dual-ring {
    display: none;
    width: 80px;
    height: 80px;
}

.dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #6ab04c;
    border-color: #6ab04c transparent #6ab04c transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.dual-ring {
    display: none;
    width: 80px;
    height: 80px;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    font-size: small;
}