// .navbar-nav>li>a:hover {
//     color: blue;
// }
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


thead th {
    position: sticky;
    top: 0;
}

$theme-colors: ( "custom-green": #044716);
img:hover {
    opacity: 0.92;
}

h5 {
    font-family: 'Raleway', sans-serif;
     
    color: #044716 !important;
}

tbody td {
    top: 25;
}

#navbar {
    border-bottom: 1.2px solid rgba(99, 94, 94, 0.234);
}

#sidebar-aside-admin {
    background-color: #e6c694;
    color: black !important;
}

#sidebar-nav-admin {
    background-color: #e6c694;
    font-size: large;
}

.bs-example {
    margin: 20px;
}

#createTab .tab-content {
    color: white;
    background-color: #272a2c;
    padding: 5px 15px;
}

#viewTab .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

// ------------------------ ring spinner start
.dual-ring {
    display: none;
    width: 80px;
    height: 80px;
}

.dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #044716;
    border-color: #044716 transparent #044716 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.dual-ring {
    display: none;
    width: 80px;
    height: 80px;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

// ------------------------ ring spinner end
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    font-size: small;
}

.modal-full {
    min-width: 50vw;
    margin-left: 80;
}

.modal-full .modal-content {
    min-height: 70vh;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 900px;
    color: #044716 !important;
    text-transform: uppercase;
}

.nav-link:hover {
    opacity: 0.50;
}

@media (min-width: 480px){

    .name:hover .dropdown-menu {
        display: block;
        margin-top: 0; // remove the gap so it doesn't close
    }
    
}


// ------------------------ spinner for applicant
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #044716;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

// ------------------------ spinner for applicant end
.resubmit {
    color: rgb(1, 145, 241);
    font-size: 2em;
    padding-left: .3em;
}

.jumbo-icon {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.jumbo-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 900px;
    font-size: x-large;
    color: #044716 !important;
}

.program-button {
    font-family: 'Raleway', sans-serif;
    color: #044716 !important;
    text-transform: uppercase;
    cursor: pointer;
}

.program-button:hover {
    opacity: 0.95;
}

.profile-pic{
    min-width: 25%;
    max-width: 25%;
    border: 1px solid #04471655;
    filter: drop-shadow(0 0 0.75rem #E9DEB9);
    margin: .7em;
}

.student-button {
	background-color:#e9deb9;
	border-radius:5px;
	border:2px solid #e2d7b3;
	display:inline-block;
	cursor:pointer;
	color:#044716;
	font-family:Arial;
	font-size:1em;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #7d807c;
    margin: .7em;
    min-width: 100%;
    text-align: center;
}
.student-button:hover {
	background-color:#044716;
    color:white;
    border:2px solid #093114;
    text-decoration:none;
}
.student-button:active {
	position:relative;
	top:1px;
    text-decoration:none;
}

.class-table-header{
    background-color: rgba(159, 194, 226, 0.925);
    
}

.btn-back{
    
    padding: 10px;
    background-color: #093114;
    color: white;
    text-decoration: none;
    border: 0.7px solid rgb(158, 153, 153);        
}
.btn-back:hover{
    padding: 10px;
    background-color: white;    
    color: #093114;
    text-decoration: none;
    border: 0.7px solid rgb(158, 153, 153);
}

.payment-text{
    color: rgb(145, 145, 145);
}

.edit-rating{

    font-size: large;
    color: rgb(1, 145, 241);

}

.rating-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    padding-right: 2px;
}

.faculty-col{
    background-color: #aef5c1;
}

.faculty-col-action{
    background-color: #ffeea2;
}

.dashboard-card{

    background-color: rgb(233, 222, 185) !important;

}

.announcement-body{

    background-color: #fcf5ac !important;

}

.homepage-title{

    font-family: 'Cinzel', serif;
    color: #05551b;
    text-decoration: underline;
    font-size: x-large;
    

}


// .carousel{
    
// }

.carousel-item{
    
    max-height: 320px !important
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}



.homepage-dropdown{

    font-family: 'Cinzel', serif;
    font-size: small;
    color: #034e18;

}

@media (min-width: 480px){

    .homepage-dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; // remove the gap so it doesn't close
        color: #05551b;
    }
    
}

.announcement-banner{
    background-color: #fdfdba !important;
    border: 1px solid rgb(255, 85, 85, 0.5) !important;
    border-radius: 0 !important;
    box-shadow: 5px 10px #88b996;
    min-width: 20rem !important;
    padding: 0 !important;

}

.footer-line-1{

    background-color: #05551b;
    height: 10px;
    border: none;
    height: 1px;

}
.footer-line-2{

    background-color: #05551b;
    height: 5px;
    border: none;
    height: 1px;
    width: 50%;

}

.article-card{
    margin: 8px auto;
    min-width: 200px;
    min-height: 300px;    
    max-width: 200px;
    max-height: 300px;    
    box-shadow: 1px 1px 10px rgb(141, 137, 137);
    border-radius: 5%;
    margin-bottom: 25px;
}

.article-card img{
    
    max-height: 200px !important;    
    min-width: 200px;  
   
}

.article-card span{
    color: rgb(78, 78, 78);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-decoration: none;
}

.article-card span:hover{
    color: rgb(78, 78, 78);    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-decoration: none !important;
}


.article-title{
    color: rgb(78, 78, 78);  
    
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif, Times, serif;  
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30ch;    
    box-shadow: 0.5px 0.5px 5px rgb(141, 137, 137);
    padding: 0px 10px;
}


.article-title:hover{
    color: rgb(78, 78, 78);  
    box-shadow: 1px 1px 10px rgb(141, 137, 137);
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif, Times, serif;  
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30ch;
    
}





// .program-box {

//     border: 1px solid black !important;

//     min-height: 100px !important;

//     min-height: 100px !important;

// }