// .navbar-nav>li>a:hover {
//     color: blue;
// }
#navbar {
    border-bottom: 0.8px solid rgba(99, 94, 94, 0.234);
}

#sidebar-aside-admin {
    background-color: #e6c694;
    color: black !important;
}

#sidebar-nav-admin {
    background-color: #e6c694;
}

.bs-example {
    margin: 20px;
}

#createTab .tab-content {
    color: white;
    background-color: #272a2c;
    padding: 5px 15px;
}

#viewTab .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}


/* remove border radius for the tab */

.nav-link.view {
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.nav-link.sidebar-admin:hover {
    border-bottom: 3px solid #eee;
}

.nav-link.sidebar-admin:active {
    border-bottom: 3px solid #338ecf;
    background: #eee
}