// .navbar-nav>li>a:hover {
//     color: blue;
// }
thead th {
    position: sticky;
    top: 0;
}

tbody td {
    top: 25;
}

#navbar {
    border-bottom: 1.2px solid rgba(99, 94, 94, 0.234);
}

#sidebar-aside-admin {
    background-color: #e6c694;
    color: black !important;
}

#sidebar-nav-admin {
    background-color: #e6c694;
    font-size: large;
}

.bs-example {
    margin: 20px;
}

#createTab .tab-content {
    color: white;
    background-color: #272a2c;
    padding: 5px 15px;
}

#viewTab .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}


/* remove border radius for the tab */

.nav-link.view {
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.nav-link.sidebar-admin:hover {
    border-bottom: 1px solid #eee;
}

.nav-link.sidebar-admin:active {
    border-bottom: 3px solid #338ecf;
    background: #eee
}

.admin-dual-ring {
    display: none;
    width: 80px;
    height: 80px;
}

.admin-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #6ab04c;
    border-color: #6ab04c transparent #6ab04c transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.student-dual-ring {
    display: none;
    width: 80px;
    height: 80px;
}

.student-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #6ab04c;
    border-color: #6ab04c transparent #6ab04c transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.admin-loader-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}